Package: say
Version: 0.0.1
Section: base
Priority: optional
Architecture: all
Depends: bash, xsel, sox, libttspico-utils
Maintainer: jnh14@hotmail.fr
Description: Simple and configurable text to speech utility
Homepage: https://github.com/AntrHaxx
